<?xml version="1.0" ?>
<config>
    <modules>
        <Rizak_News>
            <version>0.0.1</version>
        </Rizak_News>
    </modules>
    <global>
        <resources>
            <rizaknews_setup>
                <setup>
                    <module>Rizak_News</module>
                </setup>
            </rizaknews_setup>
        </resources>
    </global>
</config>